body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

#toolbox {
    margin-bottom: 20px;
}

#drawingCanvas {
    border: 1px solid #000;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="color"] {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

input[type="range"] {
    width: 200px;
}